<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>HDFC BANK in Bangalore</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
       <h1>Welcome To HDFC Bank </h1>
      <h2>Bank Branch List</h2>
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th>ID</th>
               <th>Branch Name</th>
            </tr>
            <tr th:each ="branch : ${branches}">
               <td th:utext="${branch.id}">...</td>
               <td th:utext="${branch.name}">...</td>
            </tr>
         </table>
      </div>
   </body>
</html>